<% include ./partials/head.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/navigation.ejs %>
<main class="main">
        <h1 class="main-title"><%= title %></h1>
    <%- isLoggedIn ? "<a href='/logout'>Log ud</a>" : "<a href='/login'>Log ind</a>" %>
    <form method="post">
        <fieldset>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= user.email %>">
        </fieldset>
        <fieldset>
            <label for="username">Brugernavn</label>
            <input type="text" name="username" id="username" value="<%= user.username %>">
        </fieldset>
        <button type="submit">Gem</button>
    </form>
</main>
<% include ./partials/footer.ejs %>
<% include ./partials/after-footer.ejs %>
