<% include ./partials/head.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/navigation.ejs %>
<main class="main">
    <h1 class="main-title"><%= title %></h1>
    <img src="/images/<%= image.name %>" width="200">
    <form action="/images/<%= image.id %>" method="post" enctype="multipart/form-data">
        <div class="inputGroup">
            <input type="hidden" name="prevImage" value="<%= image.name %>">
            <label for="billede">Vælg en fil</label>
            <input type="file" name="billede" id="billede">
        </div>
        <button type="submit">Upload</button>
    </form>
</main>
<% include ./partials/footer.ejs %>
<% include ./partials/after-footer.ejs %>