        <footer class="footer">
            <p>Copyright</p>
        </footer>
    </div> <!-- wrapper end -->
    <script src="/scripts/clientCssLoader.js" defer></script>
	<noscript>
		<link rel="stylesheet" type="text/css" href=/css/client/main.css">
	</noscript>
</body>