<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projekt skabelon</title>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

    :root {
        --primary-color: #E980FC;
        --secondary-color: #231B1B;
        --primary-text: #B96AC9;
        --secondary-text: #FFD2FC;
        --background-color: #DDFFF7;
        --primary-fontfamily: 'Roboto', sans-serif;
    }
    </style>
</head>