/* standards */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-fontfamily);
}

fieldset {
    border: none;
    padding: 0.5em 0;
}

input, textarea, select {
    padding: 5px;
    border: 0.2em solid var(--primary-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-family: var(--primary-fontfamily);
}

button, .btn {
    display: inline-block;
    padding: 1em 2em;
    margin-left: auto;
    background-color: var(--primary-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    box-shadow: 1px 1px;
    text-decoration: none;
    color: var(--black-color);
}

.btn {
    padding: 0.73em 1.5em;
}


/* Layout */
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.header {
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    background-color: var(--primary-color);
    min-height: 7vh;
    width: 100%;
    text-align: center;
    padding-top: 1em;
}
.main {
    width: 90vw;
    min-height: 70vh;
    padding: 1em;
}

.footer {
    background-color: var(--secondary-color);
    color: var(--secondary-text);
    width: 100%;
    min-height: 7.5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) { 
    .main {
        width: 70vw;
    }
}

@media only screen and (min-width: 1000px) { 
    .main {
        width: 50vw;
    }
}