<body>
    <div id="wrapper">
    <header class="header">
        <h1>Projekt skabelon</h1>
        <%- isLoggedIn ? "<a href='/logout'>Log ud</a>" : "<a href='/login'>Log ind</a>" %>
        <a href="/">Frontend</a>
    </header>